.ej19 h1 {
    font:  28px/1.4 "Arial", sans-serif;
    color: #333;
    margin: 15px 0;
}

.ej19 h2 {
    font:  24px/1.4 "Arial", sans-serif;
    color: #555;
    margin: 15px 0;
}

.ej19 h3 {
    font: italic normal 16px "Times New Roman" , serif;
}